[submodule "protocol-v1"]
	path = protocol-v1
	url = https://github.com/drift-labs/protocol-v1.git
	branch = nineteen/drift-sim
[submodule "driftpy"]
	path = driftpy
	url = https://github.com/drift-labs/driftpy.git
	branch = bigz/drift-sim
